@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
body {
	background-image: url(images/background/background.png);
	width: 1920px;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
@media (max-width: 1360px) {
	body {
		background-image: url(images/background/background.png);
		width: 1360px;
		font-family: 'Open Sans', sans-serif;
		overflow-x: hidden;
	}
}
.site {
	width: 1140px;
	margin: 0 auto;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.logo_wrap {
	display: flex;
	padding-top: 70px;
	padding-bottom: 80px;
}
.logo_wrap__snowdog {
	padding-left: 5px;
}
.logo_wrap__yamaha {
	font-size: 31px;
	font-weight: bolder;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 0.861;
	padding-right: 35px;
	padding-left: 20px;
}
.logo_wrap__warranty {
	padding-top: 10px;
}
.banner {
    max-width: 1140px;
}

.banner img{
    width: 100%;
    max-width: 1140px;
}
.article {
	display: flex;
}
.article__img {
	width: 49%;
	padding-top: 30px;
	padding-left: 30px;
	line-height: 1.3;
}
.article__text {
	width: 51%;
	padding-top: 20px;
	line-height: 1.25;
	padding-right: 30px;
}
.article__text p {
	font-size: 18px;
	margin-top: 10px;
}
.models {
	padding-top: 20px;
}
.models_h1 {
	text-align: center;
	font-size: 45px;
}
.models__column_wrap {
	display: flex;
}

.models__item--left, .models__item--right {
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 50%;
}
.models__item-name {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.price_y13me {
	margin-top: 0px;
	text-align: left;
	padding-left: 105px;
}
.price_y13mer {
	margin-top: 0px;
	text-align: right;
	padding-right: 100px;
}
.models__img {
	position: relative;
	padding-left: 100px;
	width: 367px;
}
.models__img img {
	width: 100%;
	height: auto;
}
.ts_holder{
	overflow: visible;
}
.ts_img_view {
	width: 100%;
	height: auto;
}
.models__specs {
	font-size: 15px;
}
table {
	width: 60%;
	border-collapse: collapse;
	margin: 0 auto;
}
th {
	text-align: left;
	padding-left: 5px;
	line-height: 2.5;
}

tr:nth-child(odd){
	background-color: #cccccd;
}

td:nth-child(even) {
	width: 50%;
	border-left: 20px solid white;
	text-align: center;
	line-height: 1.8;
	font-size: 15px;	
}

td:nth-child(odd) {
	font-weight: 500;
	padding-left: 5px;
	font-size: 15px;
	line-height: 1.8;
}

.accs__wrap {
	display: flex;
	flex-direction: column;
}

.features {
	width: 100%;
	margin-top: 80px;
}
.features h2 {
	text-align: center;
	font-size: 45px;
	margin: 30px 0px 55px;
}
.features__item {
	display: flex;
	/*margin-right: 50px;*/
}

.features__image {
	width: 40%;
}
.features__text {
	width: 40%;
	padding-left: 50px;
	/*padding-top: 10px;*/
}
.features__text h4 {
	font-size: 30px;
	font-weight: 500;
}
.features__text p {
	font-size: 18px;
	line-height: 1.2;
}
.accs h2{
	padding-top: 60px;
	font-size: 45px;
	text-align: center;
}
.accs__row {
	display: flex;
}
.price__row {
	display: flex;
}
.price__row p {
	display: flex;
	/*width: 33%;*/
	margin: 0 auto;
	font-size: 30px;
}
.accs__column {
	display: flex;
	flex-direction: column;
}
.accs__item {
	margin-right: 40px;
}
.item__text h4 {
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
.item__text p {
	font-size: 18px;
	line-height: 1.2;
}

.dealers {
	margin-top: 120px;
	width: 100%;
	/*margin: 0 auto;*/
}
.dealers h2 {
	text-align: center;
	font-size: 45px;
}
.dealers h3{
	text-align: left;
	font-size: 30px;
	font-weight: 400;
}
.dealers__list {
	width: 80%;
	margin: 0 auto;
	background-color: #ffffff;
}
.tab input, .tab-content { display: none; }
.tab {
	/*margin-bottom: 10px;  Расстояние между пунктами */
}
.tab label {
	font-size: 24px;
	text-decoration: underline;
	padding: 5px 0px 5px 40px;
}
.tab-title {
	padding: 10px; /* Поля вокруг текста */
	display: block; /* Блочный элемент */
	/*text-transform: uppercase; /* Все буквы заглавные */
	/*font-weight: bold;  Жирное начертание */
	cursor: pointer; /* Вид курсора */
}
	/*.tab-title::after {
	content: '+';  Выводим плюс 
	float: right;  Размещаем по правому краю 
	}*/
.tab-content {
	padding: 25px 80px; /* Поля вокруг текста */
	/*font-size: 18px;*/
}
.tab-content p {
	margin: 0px;
	line-height: 1.4;
	font-size: 18px;
}
.tab :checked + .tab-title {
	/*background-color: #50a2de; /* Цвет фона */
	border-radius: 3px 3px 0 0; /* Скругляем уголки */
	color: #000; /* Цвет текста */
	/*background-color: #cccccd;*/
}
	/*.tab :checked + .tab-title::after {
	content: '−'; 
	}*/
.tab :checked ~ .tab-content {
	display: block; /* Показываем содержимое */
	background-color: #cccccd;
}

.rotateimage {
	background:#f0f0f0;
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
	color:#3b3b3b;
	cursor: pointer;	
    width:47px;
    height:47px;
    border-radius:50%;
	text-align:center;
	line-height:47px;
}

.dopelessrotate {
	display: none;
}

.photoBtns {
	font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    color: #3b3b3b;
}

a.disabled {
pointer-events: none; /* делаем элемент неактивным для взаимодействия */
cursor: default; /*  курсор в виде стрелки */
color: #888;/* цвет текста серый */
}

.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
  cursor: pointer;
}
.gradient:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	/*background-image: linear-gradient(90deg, #b9deed, #efefef);  */
	background-color: grey;
	opacity: 0.6;    
}
.gradient:hover:before {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;  
	position: absolute;    
	top: 50%;
	left: 50%;    
	background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	z-index: 100;
}

.play {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(232,232,232,1);
	height: 64px;
	width: 70px;
	border-radius: 50%;
	opacity: 0.6;
	cursor: pointer;
}
.play:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	opacity: 0.6;   
}
.play:before {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;  
	position: absolute;    
	top: 50%;
	left: 50%;    
	background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	z-index: 100;
	cursor: pointer;
}
.play:hover {
	transform:scale(1.1);
}