.accs
    .accs_header
        h2 Прицепные устройства
        p
            | Для круглогодичного использования мотобуксировщика Snowdog с двигателем Yamaha мы придумали несколько аксессуаров:
    .accs__wrap
        .accs__row
            .accs__item
                .item__image
                    img(src="src/images/accs/sleigh.png")
                .item__text
                    h4 Сани
                    p
                        | Сани-волокуши из листового 8-мм пластика в комплекте с дышлом, демпферным устройством, накладками из полиэтилена низкого давления толщиной 15 мм.
            .accs__item
                .item__image
                    img(src="src/images/accs/ski_stacker.png")
                .item__text
                    h4 Укладчик лыжни
                    p Укладчик лыжни металлический с подставками для ног и регулируемым дышлом.
            .accs__item
                .item__image
                    img(src="src/images/accs/tolkach.png")
                .item__text
                    h4 Модуль «Толкач»
                    p
                        | Укомплектован сиденьем для водителя, пассажира, ручками. Возможна перестановка на руль блока управления мотобуксировщика. Сани в комплект не входят.
        .price__row
            p 5 990 ₽
            p 11 990 ₽
            p 20 900 ₽
        .accs__row
            .accs__item
                .item__image
                    img(src="src/images/accs/sport.png")
                .item__text
                    h4 Полуприцеп «Спорт»
                    p
                        | Полуприцеп на квадроциклетных 21"-колёсах низкого давления, предназначенный для передвижения стоя.
            .accs__item
                .item__image
                    img(src="src/images/accs/universal.png")
                .item__text
                    h4(style="margin-top: 20px; margin-bottom: 25px;") Полуприцеп 	«Универсальный»
                    p
                        | Универсальный полуприцеп на колёсах низкого давления для установки саней длиной 1450 мм в качестве кузова. Сани и сиденье в комплект не входят.
            .accs__item
                .item__image
                    img(src="src/images/accs/kargo.png")
                .item__text
                    h4 Полуприцеп 	«Карго»
                    p
                        | Грузовой полуприцеп на квадроциклетных 21"-колёсах низкого давления с задним откидным бортом, в комплекте с сиденьем.
        .price__row
            p 19 900 ₽
            p 17 900 ₽
            p 32 900 ₽