article.article
    .article__img
        img(src="src/images/description/description_img.png")
    .article__text
        p
            | Что вы представляете, когда слышите название Yamaha? Несущийся по трассе блестящий хромом мотоцикл? Режущий волны мощную моторную лодку? Мчащийся по суровой тайге снегоход? Теперь вы смело можете прибавлять к этому ряду мотобуксировщик — самобытную, удобную, компактную и экономичную всесезонную техниу для активного отдыха и работы. Snowdog-Yamaha —  первый в мире мотобуксировщик с двигателем ведущего японского производителя Yamaha выходит на рынок.
        p
            | Компания Baltmotors производит мототехнику на протяжении последних 15 лет. Компания Yamaha Motor Company делает это с 1955 года и для разбирающихся в технике людей бренд Yamaha является синонимом слов «качество» и «надёжность». Для японской компании это первый опыт на рынке мотобуксировщиков, а для нас — выход на новый уровень и знак высокого доверия.