.features
    .main_feature
        h2 Главная особенность — двигатель Yamaha
        p
            | Сегодня мы производим мотобуксировщики Snowdog с 400-кубовыми двигателями Yamaha MX400. Он сочетает в себе максимальную производительность, высокое качество и экономичность для оптимальной эксплуатации в экстремальных условиях. Двигатель Yamaha MX400 имеет необычную систему привода газа и дистанционного управления заслонкой карбюратора, расположенными на одном кронштейне и спрятанными под баком. В этом месте трос газа не замерзает и работает безупречно.
    .list_features
        h3 Отличительные особенности:
        .list_features__row
            .list_features__item
                div
                    img(src="src/images/features/new/hemi_head.png")
                p Оптимальная форма камеры сгорания и расположения клапанов.
            .list_features__item
                div
                    img(src="src/images/features/new/crankshaft.png")
                p
                    | Кованый и закалённый микроволновым излучением коленчатый вал обеспечивает длительный срок службы двигателя.
            .list_features__item
                div
                    img(src="src/images/features/new/decompression.png")
                p Уникальная система декомпрессии позволяет легко и мягко запускать двигатель.
        .list_features__row
            .list_features__item
                div
                    img(src="src/images/features/new/air_filter.png")
                p
                    | Специальный дизайн воздушного фильтра, забор тёплого воздуха только со стороны глушителя.
            .list_features__item
                div
                    img(src="src/images/features/new/starter.png")
                p
                    | Корпус ручного стартера сделан из антикоррозийного и пылезащищенного гибкого полимера.
            .list_features__item
                div
                    img(src="src/images/features/new/oil_level.png")
                p Проверка уровня масла с обеих сторон.
    .text_features
        .text_features__row
            .text_features__item
                h4
                    | Спортивная 
                    br
                    | платформа
                p
                    | Мы тщательно подготовились к совместной работе с Yamaha и разработали новую платформу для мотобуксировщика Snowdog-Yamaha. Пластиковый капот и пространственная рама без задних стоек придают ему спортивный и динамичный характер. Нам так понравилась эта платформа, что в 2020 году именно она станет основой для всего модельного ряда мотобуксировщиков Snowdog.
            .text_features__item
                h4
                    | Улучшенная 
                    br
                    | управляемость
                p
                    | Большое внимание мы уделили улучшению управляемости мотобуксировщика Snowdog-Yamaha. Для этого мы сместили двигатель немного назад, установив его практически по центру платформы, а для придания управлению более чуткого, спортивного характера мы расположили прямо за моторным отсеком второй фаркоп. Кроме управляемости, Snowdog-Yamaha крайне удобен в эксплуатации: кнопки старта, стопа, включения фары и розетки 12V, а также рычаг дистанционного управления заслонкой карбюратора удобно расположены на руле.
        .text_features__row
            .text_features__item
                h4
                    | Новые эмоции 
                    br
                    | и безопасность
                p
                    | Мотобуксировщик Snowdog-Yamaha — это настоящая спортивная техника и источник массы ярких эмоций, как зимой, так и летом. Вы сможете ездить за буксировщиком на санях, на лыжах, расположиться спереди на толкаче или кататься на спортивном полуприцепе, будто в колеснице. Какой вариант вы бы ни выбрали, мы уверены: передвижение на нашем буксировщике будет более безопасным, чем на любой другой внедорожной технике, ввиду его невысокой максимальной скорости и системе отключения двигателя в экстренной ситуации.
            .text_features__item
                h4
                    | Продажа и обслуживание
                    br
                    |  в дилерской сети Yamaha
                p
                    | Даже самая надёжная и долговечная техника требует регулярного внимания. Нам приятно сообщить, что мотобуксировщики Snowdog-Yamaha продаются и обслуживаются только в фирменных центрах Yamaha.