.logo_wrap
    .logo_wrap__snowdog
        img(src="src/images/logo/snowdog_logo.png")
    .logo_wrap__yamaha
        p с двигателем
    .logo_wrap__warranty
        img(src="src/images/logo/yamaha_logo.png")