.models
    h1.models_h1 Модели
    .models__column_wrap
        .models__item--left
            p.models__item-name Snowdog-Yamaha Y13ME
            p.price_y13me 129 000 ₽
            .photoBtns
                a#galleryBtn__left.stop.rotateimage.disabled(data-link=".galleryItem, .galleryThumbs")
                    i.fas.fa-camera-retro
                a#run3d__left.playstop.rotateimage.busy(data-link="#d3")
                    i.fas.fa-cube
            .models_img
                a.models_img__preview(data-fancybox-trigger="preview" href="javascript:;")
                    .play
                    img(src="src/images/models/Sd_Yamaha_me-front_left.png")
                a(href="src/images/models/me/gallery/right_back_3_4_gray.jpg" data-fancybox="preview" data-width="1140" data-height="600" style="display: none;")
                    img(src="src/images/models/me/gallery/right_back_3_4_gray.jpg")
                a(href="src/images/models/me/gallery/left_back_3_4_gray.jpg" data-fancybox="preview" data-width="1140" data-height="600" style="display: none;")
                    img(src="src/images/models/me/gallery/left_back_3_4_gray.jpg")
                a(href="src/images/models/me/gallery/right_3_4_gray.jpg" data-fancybox="preview" data-width="1140" data-height="600" style="display: none;")
                    img(src="src/images/models/me/gallery/right_3_4_gray.jpg")
            .dopelessrotate
                img#rotateimage__left(src="src/images/models/me/3D/yamaha_570x300049.jpg" width="570" height="300")
            .btns-left
                a.btn(href="https://baltmotors.ru/buy/?id=424") Заказать
        .models__item--right
            p.models__item-name Snowdog-Yamaha Y13MER
            h4.reverse с реверсом
            p.price_y13mer 149 000 ₽
            .photoBtns
                a#galleryBtn__right.stop.rotateimage.disabled(data-link=".galleryItem, .galleryThumbs")
                    i.fas.fa-camera-retro
                a#run3d__right.playstop.rotateimage.busy(data-link="#d3")
                    i.fas.fa-cube
            .models_img
                a.models_img__preview(data-fancybox-trigger="preview" href="javascript:;")
                    .play
                    img(src="src/images/models/sd_yamaha_mer-front_right.png")
                a(href="src/images/models/mer/gallery/sd_yamaha_mer_left_3_4_gray.jpg" data-fancybox="preview" data-width="1140" data-height="600" style="display: none;")
                    img(src="src/images/models/mer/gallery/sd_yamaha_mer_left_3_4_gray.jpg")
                a(href="src/images/models/mer/gallery/sd_yamaha_mer_left_back_3_4_gray.jpg" data-fancybox="preview" data-width="1140" data-height="600" style="display: none;")
                    img(src="src/images/models/mer/gallery/sd_yamaha_mer_left_back_3_4_gray.jpg")
                a(href="src/images/models/mer/gallery/sd_yamaha_mer_right_3_4_gray.jpg data-fancybox=" data-width="1140" data-height="600" style="display: none;")
                    img(src="src/images/models/mer/gallery/sd_yamaha_mer_right_3_4_gray.jpg")
            .dopelessrotate
                img#rotateimage__right(src="src/images/models/mer/3D/yamaha_mer-570x300000.jpg" width="570" height="300")
            .btns-right
                a.btn(href="https://baltmotors.ru/buy/?id=428") Заказать
    .models__specs
        table
            tr
                th Модель
                td Standard Y13ME / Y13MER
            tr
                td Двигатель
                td Yamaha MX400
            tr
                td Мощность, л.с.
                td 12.8
            tr
                td
                    | Объём двигателя, см
                    sup 3
                td 1430×650×770
            tr
                td Длина × ширина × высота, мм
                td 2828×500
            tr
                td Вес, кг
                td 151 / 155
            tr
                td Объём бака, л
                td 6.1
            tr
                td Мин.расход топлива, л/час
                td 3
            tr
                td Вариатор
                td Сафари
            tr
                td Подвеска
                td Катковая подпружиненная
            tr
                td Электростартер
                td Есть
            tr
                td Дисковый тормоз
                td Есть
            tr
                td Реверс-редуктор
                td Нет / Есть
            tr
                td Светодиодная фара, Вт
                td 8
            tr
                td АКБ
                td Есть