@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('/src/fonts/Roboto-Regular.eot');
	src: local('Roboto'), url('/src/fonts/Roboto-Regular.woff') format('woff'), url('/src/fonts/Roboto-Regular.ttf') format('truetype'), url('/src/fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background-image: url(/src/images/background/background.png);
	width: 1920px;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
@media (max-width: 1360px) {
	body {
		background-image: url(/src/images/background/background.png);
		width: 1360px;
		font-family: 'Open Sans', sans-serif;
		overflow-x: hidden;
	}
}
.site {
	width: 1140px;
	margin: 0 auto;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.logo_wrap {
	display: flex;
	padding-top: 70px;
	padding-bottom: 80px;
}
.logo_wrap__snowdog {
	padding-left: 5px;
}
.logo_wrap__yamaha {
	font-size: 31px;
	font-weight: bolder;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 0.861;
	padding-right: 35px;
	padding-left: 20px;
}
.logo_wrap__warranty {
	padding-top: 10px;
}
.banner {
    max-width: 1140px;
}

.banner img{
    width: 100%;
    max-width: 1140px;
}
.article {
	display: flex;
}
.article__img {
	width: 49%;
	padding-top: 30px;
	padding-left: 30px;
	line-height: 1.3;
}
.article__text {
	width: 51%;
	padding-top: 20px;
	line-height: 1.25;
	padding-right: 30px;
}
.article__text p {
	font-size: 18px;
	margin-top: 10px;
}
.youtube {
	padding-top: 35px;
	margin: 0 auto;
	text-align: center;
}
.main_feature h2 {
	padding-top: 20px;
	font-size: 40px;
	color: #314279;
	text-align: center;
}
.main_feature p {
	/*padding-top: 20px;*/
	font-size: 18px;
	/*color: #314279;*/
	/*text-align: center;*/
	width: 55%;
	margin: 0 auto
}
.list_features {
	/*display: flex;
	flex-direction: column;*/
	width: 80%;
	margin: 0 auto;
}
.list_features h3 {
	text-align: center;
	font-size: 30px;
	color: #314279;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
}
.list_features__row {
	display: flex;
	padding-bottom: 30px;
}
.list_features__item {
	flex: 1 1 0px;
	padding-right: 30px;
}
.list_features__item p {
	font-size: 18px;
	line-height: 1.25;
}
.text_features__row {
	display: flex;
}
.text_features__item {
	width: 50%;
	padding-right: 30px;
}
.text_features__item p{
	font-size: 18px;
	line-height: 1.25;
}
.text_features__item:nth-child(2) {
	padding-right: 0px;
	padding-left: 30px;
}
.text_features__item h4 {
	margin-top: 20px;
	font-size: 35px;
	color: #314279;
	text-align: center;
}
.models {
	padding-top: 20px;
}
.models_h1 {
	text-align: center;
	font-size: 40px;
	color: #314279;
}
.models__column_wrap {
	display: flex;
}

.models__item--left, .models__item--right {
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 50%;
}
.models__item-name {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}
.price_y13me {
	margin-top: 0px;
	text-align: left;
	padding-left: 105px;
	padding-top: 45px;
	font-family: Conv_Roboto-Regular;
}
.reverse {
	color: #314279;
	text-align: right;
	padding-right: 100px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.price_y13mer {
	margin-top: 0px;
	text-align: right;
	padding-right: 100px;
	font-family: Conv_Roboto-Regular;
}
.models_img {
	/*position: relative;*/
	padding-left: 100px;
	width: 367px;
}
.models_img img {
	width: 100%;
	height: auto;
}
.models_img__preview {
	display: block;
	position: relative;
}
.models_img__preview:hover .play{
	transform:scale(1.1);
}
.ts_holder{
	overflow: visible;
	height: 300px!important;
}
.ts_img_view {
	width: 100%;
	height: auto;
}
#holder_rotateimage__left, #holder_rotateimage__right {
	width: 570px!important;
}
.models__specs {
	font-size: 15px;
	padding-top: 20px;
}
table {
	width: 60%;
	border-collapse: collapse;
	margin: 0 auto;
}
th {
	text-align: left;
	padding-left: 5px;
	line-height: 2.5;
}

tr:nth-child(odd){
	background-color: #cccccd;
}

td:nth-child(even) {
	width: 50%;
	border-left: 20px solid white;
	text-align: center;
	line-height: 1.8;
	font-size: 15px;	
}

td:nth-child(odd) {
	font-weight: 500;
	padding-left: 5px;
	font-size: 15px;
	line-height: 1.8;
}

.accs__wrap {
	display: flex;
	flex-direction: column;
}

/*.features {
	width: 100%;
	margin-top: 80px;
}*/
/*.features h2 {
	text-align: center;
	font-size: 45px;
	margin: 30px 0px 55px;
}*/
.features__item {
	display: flex;
	/*margin-right: 50px;*/
}

.features__image {
	width: 40%;
}
.features__text {
	width: 40%;
	padding-left: 50px;
	/*padding-top: 10px;*/
}
.features__text h4 {
	font-size: 30px;
	font-weight: 500;
}
.features__text p {
	font-size: 18px;
	line-height: 1.2;
}
.accs_header {
	width: 50%;
	margin: 0 auto;
}
.accs_header h2{
	padding-top: 60px;
	font-size: 40px;
	text-align: center;
	color: #314279;
}
.accs__row {
	display: flex;
}
.price__row {
	display: flex;
}
.price__row p {
	display: flex;
	/*width: 33%;*/
	margin: 0 auto;
	font-size: 30px;
	font-family:'Conv_Roboto-Regular',Sans-Serif;
}
.accs__column {
	display: flex;
	flex-direction: column;
}
.accs__item {
	margin-right: 40px;
}
.item__text h4 {
	text-align: center;
	font-size: 30px;
	font-weight: 500;
}
.item__text p {
	font-size: 18px;
	line-height: 1.2;
}

.dealers {
	margin-top: 120px;
	width: 100%;
	/*margin: 0 auto;*/
}
.dealers h2 {
	text-align: center;
	font-size: 45px;
	color: #314279;
}
/*.dealers h3{
	text-align: left;
	font-size: 30px;
	font-weight: 400;
}*/
.dealers p {
	font-size: 18px;
	line-height: 1.25;
}
.dealers_header {
	width: 70%;
	margin: 0 auto;
}
.dealers__list {
	width: 80%;
	margin: 0 auto;
	background-color: #ffffff;
}
.tab input, .tab-content { display: none; }
.tab label {
	font-size: 24px;
	text-decoration: underline;
	padding: 5px 0px 5px 40px;
}
.tab-title {
	padding: 10px; /* Поля вокруг текста */
	display: block; /* Блочный элемент */
	/*text-transform: uppercase; /* Все буквы заглавные */
	/*font-weight: bold;  Жирное начертание */
	cursor: pointer; /* Вид курсора */
}
	/*.tab-title::after {
	content: '+';  Выводим плюс 
	float: right;  Размещаем по правому краю 
	}*/
.tab-content {
	padding: 25px 80px; /* Поля вокруг текста */
	/*font-size: 18px;*/
}
.tab-content p {
	margin: 0px;
	line-height: 1.4;
	font-size: 18px;
}
.tab :checked + .tab-title {
	/*background-color: #50a2de; /* Цвет фона */
	border-radius: 3px 3px 0 0; /* Скругляем уголки */
	color: #000; /* Цвет текста */
	/*background-color: #cccccd;*/
}
	/*.tab :checked + .tab-title::after {
	content: '−'; 
	}*/
.tab :checked ~ .tab-content {
	display: block; /* Показываем содержимое */
	background-color: #cccccd;
}

.rotateimage {
	background:#f0f0f0;
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
	color:#3b3b3b;
	cursor: pointer;	
    width:47px;
    height:47px;
    border-radius:50%;
	text-align:center;
	line-height:47px;
}

.dopelessrotate {
	display: none;
}

.photoBtns {
	font-family:'Conv_Roboto-Regular',Sans-Serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    color: #3b3b3b;
}

a.disabled {
pointer-events: none; /* делаем элемент неактивным для взаимодействия */
cursor: default; /*  курсор в виде стрелки */
color: #888;/* цвет текста серый */
}

.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
  cursor: pointer;
}
/*.gradient:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(90deg, #b9deed, #efefef);  
	background-color: grey;
	opacity: 0.6;    
}*/
.gradient:hover:before {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;  
	position: absolute;    
	top: 50%;
	left: 50%;    
	background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	z-index: 100;
}

.play {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(232,232,232,1);
	height: 64px;
	width: 70px;
	border-radius: 50%;
	opacity: 0.6;
	cursor: pointer;
}
.play:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	opacity: 0.6;   
}
.play:before {
	content: "";
	display: inline-block;
	width: 52px;
	height: 52px;
	margin: -26px 0 0 -26px;  
	position: absolute;    
	top: 50%;
	left: 50%;    
	background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	z-index: 100;
	cursor: pointer;
}
.play:hover {
	transform:scale(1.1);
}
.btns-left .btn {
    padding: 15px 35px;
    text-align: center;
    margin: 0;
    font-size: 13px;
    line-height: 13px;
    color: #454545;
    text-decoration: none;
    margin-left: 330px;
}
.btns-right .btn {
    padding: 15px 35px;
    text-align: center;
    margin: 0;
    font-size: 13px;
    line-height: 13px;
    color: #454545;
    text-decoration: none;
    margin-left: 100px;
}

main input[type=submit], main button, .btn {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 35px 60px;
    display: inline-block;
    font-family:'Conv_Roboto-Regular',Sans-Serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    border-radius: 43px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    border: 0;
    text-decoration: none;
    background: rgba(254,224,132,1);
    background: -moz-linear-gradient(top, rgba(254,224,132,1) 0%, rgba(255,184,6,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,224,132,1)), color-stop(100%, rgba(255,184,6,1)));
    background: -webkit-linear-gradient(top, rgba(254,224,132,1) 0%, rgba(255,184,6,1) 100%);
    background: -o-linear-gradient(top, rgba(254,224,132,1) 0%, rgba(255,184,6,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,224,132,1) 0%, rgba(255,184,6,1) 100%);
    background: linear-gradient(to bottom, rgba(254,224,132,1) 0%, rgba(255,184,6,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee084', endColorstr='#ffb806', GradientType=0 );
    outline: none;
    cursor: pointer;
    position: relative;
    color: #454545;
    text-shadow: 0 2px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 0 7px rgba(255,255,255,0.7);
    margin: 30px 0 0;
}

